.div_block{
    height: 50px;
}

h1{
    margin-left: 60px;
}

.div_testInfo{
    margin-left: 100px;
    height: 600px;
}

p{
    margin-left: 30px;
}

label{
    font-size: 15px;
    margin-right: 20px;
}

.div_form{
    margin-left: 300px;
}

[data^="navBackColor"] {
    background-color: black;
    height: 60px;
}